<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PeriplusTestSuite">
    <test name="ShoppingCartTest">
        <classes>
            <class name="com.example.PeriplusCartTest">
                <methods>
                    <include name="testLogin"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>